
.plantContainer{
    text-align: center;
    justify-content: space-around;
}

.plantCard{
    position: relative;
    right: -2%; 
    text-align: left;
    float: left;
    width: 10em;
    height: 35em;
    margin: 1em;
    padding: 2em;
    box-shadow: 1em 1em 1em rgb(16, 65, 16);
    border-style: solid ;
    border-color: rgb(16, 65, 16);
    background-color: rgb(247, 153, 142);
}

.plantDesc{
    text-align:center;
}

.button{
    background-color: transparent !important;
}