<!-- <div class="MainHome">
  <mat-card>
  <img src ="aNiceGarden.jpg" class="gardenImage">
</mat-card>
  <h1>The Company</h1>
    <p class="companyDescription">With a story that starts in 8000000 BC, we have spent millennias setting the example for gardening. Many flowers bloom, each wanting to grow the tallest, bloom the brightest. One by one, each one of them gets plucked, but not us. While all others return to the dirt, we remain in the garden. </p>
</div> -->
<div class="Card1Div">
<mat-card class="card1">
  <mat-card-title class="cardTitle">The Company</mat-card-title>
  <img src ="../assets/aNiceGarden.jpg" class="gardenImage" mat-card-image>
  

</mat-card>
<mat-card>
  <mat-card-content class="cardContent">With a story that starts in 8000000 BC, we have spent millennias setting the example for gardening. Many flowers bloom, each wanting to grow the tallest, bloom the brightest. One by one, each one of them gets plucked, but not us. While all others return to the dirt, we remain in the garden.</mat-card-content>
</mat-card>
</div>


<div class="Card2Div">
<mat-card class="card2">
    <mat-card-title class="cardTitle2">Fountain Garden</mat-card-title>
 <img src="..//..//assets/fountainGarden.jpg"  mat-card-image>
</mat-card>

</div>


<div class="CardDiv3">
<mat-card class="card3">
    <mat-card-title class="cardTitle3">Giraffe Garden</mat-card-title>
    <img mat-card-image src="..//..//assets/giraffeGarden.jpg" />
  </mat-card>

</div>

<div class="CardDiv4">
  <mat-card class="card4">
      <mat-card-title class="cardTitle4">House Garden</mat-card-title>
      <img mat-card-image src="..//..//assets/houseGarden.jpg" />
    </mat-card>
  </div>

  
  <mat-grid-list cols="4" [style.background]="'skyblue'">
      <mat-grid-tile>Tile 1 </mat-grid-tile>
      <mat-grid-tile>Tile 2 </mat-grid-tile>
      <mat-grid-tile>Tile 3 </mat-grid-tile>
      <mat-grid-tile>Tile 4 </mat-grid-tile>
      </mat-grid-list>